 /* css reset */

 *{
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

/* navigation bar */
#navbar{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    
}

/* navigation bar : list styling*/
#navbar ul{
    display: flex;
    font-family: 'Baloo 2', sans-serif;
}

#navbar ul li{
    list-style: none;
    font-size: 1rem;
}

#navbar ul li a{
    color: #4b5563;
    display: block;
    text-decoration: none;
    padding: 2px 22px;
    border-radius: 20px;    
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 85vh;
    justify-content: center;
    align-items: center;
    background-color: #eef3ff;
    color: #1F2937;
}

#home h1{
    color: #1F2937;
    text-align: center;
}

#home p{
    color: #6b7280;
    text-align: center;
    font-size: 1.5rem;
}

/* About Me */
#about-container{
    padding: 5rem 0px;
}

.about-img{
    max-width: 80%;
    height: auto;
    display: block;
}

#about{
    display: flex;
    justify-content: space-around; 
    align-items: center;   
}

#about-img img{
    border-radius: .5rem;
}

#about-data{
    color: #4b5563;
    padding-top: 10px;
    width: 50vw;
    font-size: 18px;
}

.about-topics{
    color: #1F2937;
    font-weight: 600;
}

#about-items{
    gap: 15px;
}

/* Skills */

#Skills{
    background-color: #f9fafb;
    padding: 5rem 0rem;
    font-weight: 450;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    padding: 0rem 1rem;
}

.Skillcard{
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.Skillcard ul{
    list-style-position: inside;
    color: #374151;
}

.Skillcard ul li::marker {
    color: #4f46ef;
    font-size: 1.2rem; 
}
/* Projects */
#projects{
    padding: 5rem 0rem;
}

.project-container{
    padding: 0rem 1rem;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 2rem;
}

.project-card{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform  0.3s ease;
    border: 0px solid rgb(229, 231, 235);
    border-radius: .75rem;
    margin: auto;
}

.project-card:hover{
    transform: scale(1.05);
}

.project-img{
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border: 0px solid rgb(229, 231, 235);
    border-radius: .75rem;
}

.project-data{
    padding: 1.5rem;
}

.tech-stack span{
    padding: .25rem .75rem;
    background-color: #e0e7ff;
    color: #4f46ef;
    border: 1px solid #e0e7ff;
    border-radius: .5rem;
}

.project-data a{
    text-decoration: none;
    color: #4b5563;
}

.project-data a:hover{
    color: #4f46ef;
}
/* Connect section */

#connect{
    background-color: #f9fafb;
    padding: 5rem 0rem;
}

.connect-container{
    max-width: 1500px;
    padding: 0rem 1rem;
}

.connect-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 2rem;
}

.grid-parent{
    max-width: 56rem;
}

.connect-data{
    display: flex;
    gap: .5rem;
}

.input-style{
    padding: .5rem 1rem;
    width: 100%;
    border: 1px solid rgb(209 213 219);
    border-radius: .5rem;
}

.submit-button{
    width: 100%;
    color: white;
    background-color: #4f46ef;
    padding: .75rem 1.5rem;
    border: 2px solid #4f46ef;
    border-radius: .5rem;
    cursor: pointer;
}

.submit-button:hover{
    background-color: darkblue;
    border: 2px solid darkblue;
}

/* FOOTER */
footer{
    background-color: rgb(17 24 39);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9ca3af;
}

/* utility classes */

.h-primary{
    font-size: 2.5rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2rem;
    padding: 12px;
}

.block{
    display: block;
    color: #374151;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #4f46ef;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 17px;
    cursor: pointer;
}

.btn:hover{
    border: 2px solid #4f46ef;
}

.center{
    text-align: center;
}

.grey_bg{
    background-color: black;
    opacity: 0.45;
    color: white;
}

.flexbox{
    display: flex;
}

.shrink0{
    flex-shrink: 0;
    color: rgb(79 70 229);
}
.mb-4{
    margin-bottom: 4px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-48{
    margin-bottom: 48px;
}
.mt-24{
    margin-top: 24px;
}
.mt-16{
    margin-top: 16px;
}

.mt-8{
    margin-top: 8px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}


/* responsiveness */

@media (max-width: 1100px){
    #about {
        flex-direction: column;
    }

    .project-grid{
        grid-template-columns: repeat(2, minmax(0px, 1fr));
    }

    .project-grid > *:nth-child(3) {
        grid-column: 1 / -1;        /* Span full width of grid */
        justify-self: center;       /* Center the card horizontally */
    }

    #about-img{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 770px){
    .grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .project-grid{
        grid-template-columns: repeat(1, minmax(0px, 1fr));
    }

}

@media(max-width: 600px){
    .grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }


    .connect-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    gap: 2rem;
}
    .contact-information{
        order: 2;
}
}
